.app-header {
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    background: var(--color-back-main);
    box-shadow: 0 0 1rem var(--color-box-shadow);
    z-index: 10;
    view-transition-name: app-header;
}

.book-menu-current {
    background-color: var(--color-back-accent) !important;
}

body.bible {
    --text-font-size: 1rem;

    sup,
    sub {
        color: var(--color-text-second);
        padding: 0 0.5rem 0 0;
        display: inline-block;
    }
}

.bible-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--color-box-shadow);
    backdrop-filter: blur(0.25rem);
    transition: opacity 0.15s ease-in-out;
}

.bible-menu-wrapper[data-status="hidden"] {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transform: translateX(102%);
    transition: 0.15s ease-in-out;
    transition-delay: var(--transition-delay-short);
}

.bible-menu-wrapper[data-status="visible"] {
    opacity: 1;
    transform: translateX(0);
}

.bible-menu-content {
    position: relative;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 48rem;
    margin-left: auto;
    overflow-y: auto;
    background-color: var(--color-back-main);
    padding: 6rem 2rem 2rem 2rem;
    transition: var(--transition-norm);
}

.bible-menu-wrapper[data-status="hidden"] .bible-menu-content {
    transform: translateX(100%);
}

.toggle-menu-button > .bx {
    transition: var(--transition-norm);
}

.toggle-menu-button[data-status="open"] > .bx {
    transform: rotate(270deg) scale(0.75);
}

.grid-chapters-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.app-footer {
    view-transition-name: app-footer;
}

/* CHAPTER */

.chapter-text {
    & > p {
        position: relative;
        position-anchor: --verse;
        transition: var(--transition-short);
        cursor: pointer;
        padding-right: 2rem;
        margin-bottom: 0.5rem;
    }

    & > p::after {
        content: "";
        position: absolute;
        inset: -0.25rem -0.5rem;
        transition: var(--transition-short);
        border-radius: 0.5rem;
        z-index: -1;
    }

    & > p:hover::after {
        background-color: var(--color-back-second);
    }

    & > p.marked::after,
    & > p.marked:hover::after {
        background-color: var(--color-back-accent-light);
        border-radius: 0;
    }

    & > p:not(.marked) + p.marked::after,
    & > p.marked:first-of-type:after {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    & > p.marked:has(+ p:not(.marked))::after,
    & > p.marked:last-of-type:after {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    a.button-to-verse {
        position: absolute;
        top: -0.25rem;
        right: -0.5rem;
        height: calc(100% + 0.5rem);
        width: 2rem;
        background-color: var(--color-main-light);
        color: var(--color-back-main);
        opacity: 0;
        transform: translateX(0.5rem);
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        transition: var(--transition-short);
        border-radius: 0 0.5rem 0.5rem 0;
    }
    a.button-to-verse:hover {
        background-color: var(--color-main);
    }

    & > p.marked:has(+ p:not(.marked)) > a,
    & > p.marked:last-of-type > a {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
        transition: var(--transition-norm);
    }

    & > p.marked:has(+ .marked) + p.marked > a.button-to-verse {
        border-radius: 0 0 0.5rem 0;
    }
}

.chapter-wrapper {
    padding: 1rem 2rem 0 4rem;
    font-size: 1rem;
}
.ai-comment-wrapper:empty,
.chapter-wrapper:empty {
    display: none;
}

.ai-comment-wrapper {
    border: 0.0625rem solid var(--color-gray);
    border-radius: 1rem;
    padding: 1rem;
}

details.details {
    display: block;
    margin-top: 4rem;
    border-top: 0.125rem solid var(--color-back-second);

    summary {
        padding: 1rem 0;
        font-weight: 500;
        color: var(--color-text-second);
        cursor: pointer;
    }
    summary:hover {
        color: var(--color-text);
    }
}

details.details:open {
    summary {
        color: var(--color-text-second);
    }
}
.button-copy,
.button-share,
.button-favorite {
    position: relative;
    anchor-name: --share-button;
}
.button-copy::after,
.button-share::after,
.button-favorite::after {
    position: absolute;
    content: attr(data-status);
    position-anchor: --share-button;
    position-area: top center;
    opacity: 0;
    z-index: -1;
    transform: translateY(0.5rem);
    transition: var(--transition-norm);
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--color-text-second);
    text-wrap: nowrap;
    padding: 0.125rem 0.25rem;
    background-color: var(--color-back-second);
    border-radius: 0.125rem;
}
.button-copy.notification::after,
.button-share.notification::after,
.button-favorite.notification::after {
    opacity: 1;
    transform: translateY(-2.25rem);
}

.button-share.notification > .bx-share {
    display: none;
}

.button-share:not(.notification) > .bx-clipboard-check {
    display: none;
}

.button-copy.notification > .bx-copy-list {
    display: none;
}
.button-copy:not(.notification) > .bx-copy-check {
    display: none;
}

div.inactive,
button.inactive,
a.inactive {
    opacity: 0.66 !important;
}

div.inactive .button {
    pointer-events: none;
}

button.inactive:hover,
a.inactive:hover {
    background-color: var(--color-back-second);
}
.home-random-verse blockquote {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
}
.home-random-verse blockquote {
    transition: var(--transition-norm);
    animation: appear_it 0.33s ease-in forwards;
}

@keyframes appear_it {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.two-column-masonry {
    column-count: 2;
    column-gap: 1rem;
    width: auto;
}

.two-column-masonry > article {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .home-random-verse {
        min-height: 20rem;
        max-height: 20rem;
    }
    .home-random-verse blockquote {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .two-column-masonry {
        column-count: 1;
        column-gap: 1rem;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .grid-chapters-column {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .grid-chapters-column {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .grid-chapters-column {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 360px) {
    .grid-chapters-column {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
